{% extends 'base.html.njk' %}

{% block title %}Hello | Madlibs!{% endblock title %}

{% block body %}
  <div>
    <h1>What's your name?</h1>
  </div>
    <form action="/greet">
      <div>
        <label for="name-input">Name: </label>
        <input id="name-input" type="text" name="name" />
      </div>
      <div>
        <button type="submit">Say Hello</button>
      </div>
    </form>
{% endblock %}

