{% extends 'base.html.njk' %}

{% block title %}Madlibs!{% endblock title %}

{% block body %}
  <div>
    <h1>Hi! This is the homepage.</h1>
  </div>
  <div>
    <a href="/hello">Come and get a greetin'</a>
  </div>
{% endblock %}
