<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Here's your Madlib!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Here's your madlib!</h1>
    <p>There once was a {{ color }} {{noun}} sitting in the Devmountain Lab. When
      {{ person }} went to pick it up, it burst into flames in a totally
      {{ adj }} way.</p>
  </body>
</html>